# Environment Variables
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Backup files
.env.backup
.env.*.backup

# IDE specific files
.idea
.vscode
*.swp
*.swo

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
